# Build directories
**/bin/
**/target/

# Local libraries
lib/

# Maven wrapper files
mvnw
mvnw.cmd
.mvn/

# Eclipse IDE files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# VS Code settings
.vscode/
