name: Coverage

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Build
        run: mvn --no-transfer-progress -B clean verify

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: target/jacoco-report/jacoco.xml
          verbose: true
          fail_ci_if_error: true
